/* client-list.component.css */

.container {
  max-width: 800px; 
  margin: auto;
}

h2 {
  color: #007b86; 
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #007b86;
}

.list-group {
  margin-top: 20px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-primary,
.btn-danger {
  margin-left: 10px;
}

.list-group-item + .list-group-item {
  margin-top: 10px;
}
