.container {
  max-width: 800px; 
  margin: auto;
}

h2 {
  color: #007b86; 
}

label {
  display: block;
  margin-bottom: 5px;
}


.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #007b86; 
}

.input-group {
  margin-bottom: 15px;
}

.btn-primary,
.btn-secondary {
  margin-right: 10px;
}

.form-group:not(:last-child) {
  margin-bottom: 15px;
}
